/**
 * Mixins
 */
.round (@radius: 2px) {
-webkit-border-radius: @radius;
-moz-border-radius: @radius;
border-radius: @radius;
-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

/**
 * Containers
 */

body {
background-color: hsl(207, 38%, 74%);
}

.container > * {
background-color: hsl(0, 0%, 100%);
margin-top: 1em;
margin-bottom: 1em;
padding: 1em;
border: 1px solid hsl(0, 0%, 40%);
.round (4px);
}

/**
 * Global elements
 */

a {
font-weight: 500;
.transOut;
text-decoration: none;
	&:hover {
	.transIn;
	color: inherit;
	text-decoration: none;
	}
}

a:not([href]) {
color: hsl(0, 0%, 40%);
	&:hover {
	color: hsl(0, 0%, 0%);
	}
}


i {
position: relative;
	&:hover {
	top: 1px;
	}
}


/**
 * Specific
 */

/* House icon */
.home {
position: absolute;
margin-left: -3em;
}

/* Room navigation */
ul.roomNavigation {
padding: 0;
margin-bottom: 0;
text-align: center;
	li {
	display: inline;
	padding-right: 2px;
	border-right: 1px solid hsl(0, 0%, 90%);
		&:last-of-type {
		border-right: none;
		}
	}
	li > a {
	padding-left: 2px;
	padding-right: 2px;
	}
}

.exits {
border-top: 1px dashed hsl(0, 10%, 80%);
color: hsl(0, 10%, 40%);
padding-top: 0.825em;
margin-top: 1.375em;
margin-bottom: -1.5em;
text-align: right;
}

/**
 * Typography
 */

p {
font-family: freight-sans-pro;
text-align: justify;
}

strong {
font-weight: 600;
}

h1 {
font-family: jaf-facitweb;
}

li {
font-family: freight-sans-pro;
}

.tooltip {
font-family: helvetica, arial, sans-serif;
}

/**
 * Transitions
 */

.transOut {
-webkit-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
   -moz-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
    -ms-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
     -o-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
        transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
-webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
   -moz-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
    -ms-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
     -o-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
        transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
}

.transIn {
-webkit-transition: all 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
   -moz-transition: all 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
    -ms-transition: all 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
     -o-transition: all 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
        transition: all 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
-webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
   -moz-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
    -ms-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
     -o-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
        transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
}

/**
 * Tooltip
 */
.tooltip-inner {
max-width: none;
}

