/**
 * Colors
 */
@backdrop: hsl(88, 6%, 74%);
@paper: hsl(75, 20%, 95%);
@paperBorder: hsl(128, 4%, 44%);
@exitBorder: hsl(0, 10%, 80%);
@exitDivider: hsl(0, 0%, 90%);
@hoverBlankLink: hsl(0, 0%, 0%);
@blankLink: hsl(0, 0%, 40%);

/**
 * Mixins
 */
.round (@radius: 2px) {
-webkit-border-radius: @radius;
-moz-border-radius: @radius;
border-radius: @radius;
-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

.fade (@opacity: 1) {
-webkit-opacity: @opacity;
-moz-opacity: @opacity;
opacity: @opacity;
}

/**
 * Containers
 */

body {
background-color: @backdrop;
}

.container > div {
background-color: @paper;
border: 1px solid @paperBorder;
margin-top: 1em;
margin-bottom: 1em;
padding: 1em;
.round (4px);
}

/**
 * Global elements
 */

a {
.transOut;
text-decoration: none;
	&:hover {
	.transIn;
	text-decoration: inherit;
	color: inherit;
	}
}

i {
.transOut;
position: relative;
}

/* Hovered anchors with locations have their icons moved */
@distance: 1px;
a[href]:hover i {
.transIn;
	&.direction-South,
	&.direction-Down {
		top: @distance;
	}
	&.direction-North,
	&.direction-Up {
		bottom: @distance;
	}
	&.direction-West {
		right: @distance;
	}
	&.direction-East {
		left: @distance;
	}
}

/* Links without a location are uncolored and hover differently*/
a:not([href]) {
color: @blankLink;
	&:hover {
	color: @hoverBlankLink;
		i {
		top: -1px; /* reverse, more subtle effect */
		}
	}
}

/**
 * Specific
 */

/* Return to home icon */
.home {
color: black; /* because it'll use opacity */
.fade (0.1);
position: absolute;
margin-left: -3em; /* Pulls it outside of the frame */
	&:hover {
	.fade ();
	}
}

.welcome,
.welcome *,
.err404 * {
text-align: center;
}

.subContainer .welcome i {
display:block;
font-size:60px;
margin: 15px;
}

.welcome p {
margin-bottom: 0;
}

/* List of exits */
ul.roomNavigation {
padding: 0;
margin-bottom: 0;
text-align: center;
	li {
	display: inline;
	border-right: 1px solid @exitDivider;
		&:last-of-type {
		border-right: none;
		}
	}
	li > a {
	padding-left: 2px;
	padding-right: 2px; /* puts the borders at the right distance */
	}
}

.exits {
border-top: 1px dashed @exitBorder;
padding-top: 0.825em;
margin-top: 1.375em;
margin-bottom: -1.5em;
text-align: right;
}

.roomLocation {
font-size: 12px;
line-height: 2;
font-weight: 400;
position: absolute;
right: 0;
top: 0;
}

/* List of entities */

.entities {
margin-left: 0;
padding-left: 2em;
border-left: 5px solid hsl(0, 30%, 90%);
}

/**
 * Typography
 */

p {
font-family: freight-sans-pro;
text-align: justify;
}

strong {
font-weight: 600;
}

.roomName {
font-family: adelle;
font-weight: 700;
font-size: 24px;
line-height: 1;
position: relative;
}

.roomLocation {
font-family: jaf-facitweb;
}

li {
font-size: 0.875em;
font-family: jaf-facitweb;
font-weight: 300;
}

.tooltip {
font-family: helvetica, arial, sans-serif;
font-weight: 400;
}

/**
 * Transitions
 */

.transOut {
-webkit-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
   -moz-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
    -ms-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
     -o-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
        transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
-webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
   -moz-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
    -ms-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
     -o-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
        transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
}

.transIn {
-webkit-transition: all 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
   -moz-transition: all 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
    -ms-transition: all 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
     -o-transition: all 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
        transition: all 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
-webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
   -moz-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
    -ms-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
     -o-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
        transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
}

/**
 * Tooltip
 */

/* Prevents long titles from wrapping */
.tooltip-inner {
max-width: none;
white-space: nowrap;
}

/**
 * Popover
 */
a[rel="popover"] {
cursor: pointer;
font-weight: 700;
}

.popover-title {
display: none;
}
